# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*
.env.local
.env.supabase

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Build files
dist/
build/

# Temporary files
tmp/
temp/
*.tmp

# Excel and CSV files
.xlsx
*.xls
*.csv

# Backup files
SupabaseBackup/